body,
html {
   
    vertical-align:top;
    background: rgb(30,193,247);
background: linear-gradient(0deg, rgba(30,193,247,1) 0%, rgba(186,186,224,1) 42%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
}

p {
	margin: auto;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: center;
	font-size: 12vw;
	color: #fff;
	opacity: 0.8;
	line-height: 0.8em;
    text-shadow: 0 0 5px #000000;
}
.word {
	display: block !important;
}

.char {
	opacity: 0;
}

.button {
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
width:auto;
font-size:5vw;
color:white;
	font-family: 'Alegreya Sans SC', sans-serif;
    text-align:center;
}

.button:hover {
    color:white;
    cursor: pointer;
    text-shadow: 0 0 5px #000000;
}

#div1, #div2, #div3 {
    background-color:none;
    font-family: 'Signika Negative', sans-serif;
    border-color:white;
    border-style: solid;
    color:white;
    padding:5px;
    margin:auto;
    border-width:0px;
}

@media only screen and (min-width: 600px) {
    #div1, #div2, #div3  {
      width:75%;
    }
  }

  @media only screen and (max-width: 600px) {
    h2, h1, a {
        font-size:3.5vw !important;
  }
  .bar {
    font-size:3.5vw !important;
  }

  .floatright {
    width: 75% !important;
  }

  .floatright, .floatleft {
    padding: 0px !important;
  }
  }

#skills, #xp, #site {
    display:none;
}

.floatleft {
    width: 25%;
    height:100%;
    float: left;
    padding: 20px;
    border: 0px solid red;
}  

.floatright {
    width: 50%;
    height:100%;
    float: left;
    padding: 20px;
    border: 0px solid red;
}  

h2 {
    font-size:1.8vw;   
}



#div1 {
    border-radius: 25px;
    padding:15px;
    border-width:1px;
    text-shadow: 1px 1px 1px #000000;
        --s: 100px; /* control the size */
        --c1: #b2d6de;
        --c2: #b2d6deb6;
      
        background: 
          linear-gradient(-26.56deg,var(--c1) 33%,var(--c2) 33.3% 66.6%,var(--c1) 67%) 
          0/var(--s) var(--s);
        /* 26.56deg = arctan(0.5) */
      
      
}

a {
    color:white;
    text-decoration:none;
}

h1, a {
    font-size:1.5vw;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}

h1:hover, a:hover {
    color:white;
    cursor: pointer;
    text-shadow: 0 0 5px #000000;
}

.bar {
    width: 80%;
background-color:green;
font-size:1.2vw;
padding:5px;
margin:3px;
opacity: 0.7;
}

h3, h4 {
    margin:0px;
}

h3{
    border-bottom: 3px solid #ef5675;

}

h4{
    color: seashell;
    font-style: italic;
}

.bar:hover {
    opacity:0.8;
}

.red {
background-color:#ffa600;
width:100%;
}
.blue {
background-color:#ff6361;
width:100%;
}
.pink {
    background-color:#ef5675;
    width:50%;
}
.purple { 
background-color:#bc5090;
width:100%;
}
.dpurple {
    background-color:#58508d;
    width:100%;
}

.ddpurple {
    background-color:#374c80;
    width:75%;
}
.dblue {
    background-color:#003f5c;
    width:50%;
}

